/* CSS reset. Source: https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
    font-size: 10px;
   }
   *,
   *::before,
   *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
   }

   .header-navigation {
    display: none;
   }

   header::after {
    content: "Menu";
    position: absolute;
    top: 1rem;
    right: 0;
    margin-right: 3rem;
   }
header {
 background-color: yellowgreen;
}

.header-navigation {
 display: none;
}
.section-banner {
 background-color: dodgerblue;
}
.section-info {
 background-color: lightcoral;
}
.section-portfolio {
 background-color: chartreuse;
}
.section-contact {
 background-color: goldenrod;
}

.portfolio-list {
    list-style: none;
   }
   .portfolio-item {
    background-color: lightyellow;
    border: 1px solid black;
   }

   .container {
    font-size: 1.6rem;
    padding: 1rem 3rem;
    margin: 0 auto;
    border: 1px solid black;
   }
